<div class="h-100">
  <div class="bg-white" style="min-height: 540px !important;">
    <div class="p-3">
      <div>
        <h1><b>Terrorism Checker</b></h1>
      </div>
      <hr>
    </div>
    <div>
      <div class="container mt-5" style="min-height: 379px;">
        <h5>Carica e analizza il tuo file.</h5>
        <div class="form-group">
          <!-- Campo di testo che mostra il nome del file selezionato -->
          <div class="input-group">
            <select class="form-select bg-warning" style="max-width: 170px !important;">
              <option value="0" selected>Like ChatGPT</option>
              <option value="X">Like X</option>
              <option value="Y">Like Y</option>
              <option value="Z">Like Z</option>
            </select>
            <input style="height:60px;cursor: pointer !important;" type="text" class="form-control" id="browseBtn"
              [value]="fileName" placeholder="Nessun file selezionato, Click per caricare" readonly
              (click)="selectFile()">
            <div class="input-group-append">
              <!-- Pulsante che apre la finestra di dialogo di selezione file -->
              <button style="height:60px" class="btn btn-dark text-white rounded-0" type="button"
                [disabled]="filelength==0" (click)="analyzeImage()">
                ANALIZZA
              </button>
            </div>
          </div>
          <!-- Vero input file, ma nascosto -->
          <input type="file" #fileInput (change)="onFileSelected($event)" hidden>
        </div>
        <div class="mt-5" style="margin-bottom: 100px;" id="resultDiv" [hidden]="!viewResult">
          <hr>
          <h3>Analisi</h3>
          <hr>
          <div class="alert alert-success" role="alert" *ngIf="result=='no terroristico'">
            Non Terroristico
          </div>
          <div class="alert alert-warning" role="alert" *ngIf="result=='ambiguo'">
            Ambiguo
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="result=='terroristico'">
            Terroristico
          </div>
          <div class="row">
            <div class="col-5" id="upldImageDiv">
              <img id="upldImage" src="data:image/{{imgExt}};base64,{{b64Uimg}}" alt="Uploaded Image"
                class="img-fluid rounded mx-auto d-block" style="max-width: 100%; max-height: 100%;">
            </div>
            <div class="col-2"></div>
            <div class="col-5" id="anlzdImageDiv">
              <img id="anlzdImage" src="data:image/{{imgExt}};base64,{{b64Aimg}}" alt="Analyzed Image"
                class="img-fluid rounded mx-auto d-block" style="max-width: 100%; max-height: 100%;">
            </div>
            <div class="col-12">
              <hr>
            </div>
            <div class="col-12 mt-5">
              <div class="row">
                <div class="col-4 " id="resultDiv1">
                  <div class="d-flex justify-content-center align-items-center text-center" style="height: 100%;">
                    <div style="height: 200px; width: 200px;  background-color: #c75857; border-width: 8px !important; border-color: black !important"
                      class="p-3 rounded-circle border text-white d-flex justify-content-center align-items-center flex-column">
                      <span style="font-size: 30px;"><b>{{simboli}}/{{simbolitotal}}</b></span>
                      <b>Punteggio Simboli</b>
                    </div>
                  </div>
                </div>
                <div class="col-4 " id="resultDiv1">
                  <div class="d-flex justify-content-center align-items-center text-center" style="height: 100%;">
                    <div style="height: 200px; width: 200px; background-color: #c75857; border-width: 8px !important; border-color: black !important"
                      class="p-3 rounded-circle border text-white d-flex justify-content-center align-items-center flex-column">
                      <span style="font-size: 30px;"><b>{{persone}}/{{personetotal}}</b></span>
                      <b>Punteggio Persone</b>
                    </div>
                  </div>
                </div>
                <div class="col-4 " id="resultDiv1">
                  <div class="d-flex justify-content-center align-items-center text-center" style="height: 100%;">
                    <div style="height: 200px; width: 200px; background-color: #c75857; border-width: 8px !important; border-color: black !important"
                      class="p-3 rounded-circle border text-white d-flex justify-content-center align-items-center flex-column">
                      <span style="font-size: 30px;"><b>{{armi}}/{{armitotal}}</b></span>
                      <b>Punteggio Armi</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!feedbackSended" class="mt-5">
            <hr>
            <h1>Human Feedback</h1>
            <hr>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="esitoFeedback" style="font-size: 20px;">* Seleziona il tuo feedback:</label><br>
                    <select class="form-select mb-3" id="esitoFeedback" [(ngModel)]="esitoFeedback" style="width: 280px;">
                      <option value="">Seleziona feedback immagine</option>
                      <option value="terroristico">Terroristico</option>
                      <option value="no terroristico">No Terroristico</option>
                    </select>
                    <label for="notefeedbackTextArea" style="font-size: 20px;">* Note:</label><br>
                    <textarea class="form-control" id="notefeedbackTextArea" rows="3" [(ngModel)]="noteFeedback"></textarea>
                    <div class="mt-3 float-end" style="font-size: 12px;">
                      (*) Campi obbligatori<br>
                      <button class="btn btn-dark mt-1" (click)="sendFeedback()">Invia Feedback</button>
                    </div>
                </div>
              </div>
          </div>
          <hr>
        </div>
        <div class="mt-5" *ngIf="feedbackSended">
          <hr>
          <div class="alert alert-success " role="alert" >
            <h3>Grazie per il tuo feedback!</h3>
            <p>Il tuo feedback è stato inviato con successo.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white">
    <div class="footerbg w-100" style="height: 150px;">

    </div>
  </div>
  <div class="bg-dark text-white" style="height: 322px !important;">
    <div class="d-flex" style="width: 100%;justify-content: center;align-items: center;height: 100%;">
      <div class="row w-100">
        <div class="col-12 text-end">
          <h5 style="font-size: 20px;"><b>Tesi di Laurea Roberto Guastamacchia - Università degli Studi di Bari Aldo Moro</b></h5>
        </div>
        <!-- <div class="col-3 text-center">
          <span style="font-size: 60px;"><b>0</b></span><br>
          <span style="font-size: 30px;"><b>Elementi Controllati</b></span>
        </div>
        <div class="col-3 text-center">
          <span style="font-size: 60px;"><b>0</b></span><br>
          <span style="font-size: 30px;"><b>Elementi Positivi</b></span>
        </div>
        <div class="col-3 text-center">
          <span style="font-size: 60px;"><b>0</b></span><br>
          <span style="font-size: 30px;"><b>Elementi Negativi</b></span>
        </div>
        <div class="col-3 text-center">
          <span style="font-size: 60px;"><b>0.0</b></span><br>
          <span style="font-size: 30px;"><b>Rate</b></span>
        </div> -->
      </div>
    </div>
  </div>
</div>
<app-custom-loading [ngClass]="{'d-none': isLoading == false }" id="loader"></app-custom-loading>